name: Node.js CI

on:  
  pull_request:
    types: [opened, labeled, synchronize]
    branches: main

defaults:
  run:
    working-directory: ./frontend

jobs:
  lint:
    if: contains(github.event.pull_request.labels.*.name, 'frontend')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4.1.7
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: "./frontend/package.json"
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: "./frontend/.nvmrc"
          cache: pnpm
          cache-dependency-path: "./frontend/pnpm-lock.yaml"
      - name: Install dependencies
        run: pnpm install
      - name: Run lint
        run: pnpm lint
  build:
    if: contains(github.event.pull_request.labels.*.name, 'frontend')
    runs-on: ubuntu-latest
    needs: [lint]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4.1.7
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: "./frontend/package.json"
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: "./frontend/.nvmrc"
          cache: pnpm
          cache-dependency-path: "./frontend/pnpm-lock.yaml"
      - name: Install dependencies
        run: pnpm install
      - name: Run build
        run: pnpm build
